.navbar{
    display: flex;
    flex-direction: row;
    position: fixed;
}
.navbar-list{
    margin-left: 640px;
    display: flex;
    flex-direction: row;
}
.navbar-list-items{
    margin-top: 80px;
    margin-left: 40px;
    color: white;
    font-family: 'Work Sans';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: right;
    word-spacing: 0px;
}

.section-1{
    text-align: center;
    background-size: contain;
    height: 130%;
    background-repeat: no-repeat;
    background-image: url("./images/Contriver-website-cover-min-scaled-crp.jpg");
}
.text-1{
    color: #fff;
    margin-top: 200px;
    font-family: "Quicksand";
    font-size: 75px;
    font-weight: bolder;
    line-height: 75px;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    word-spacing: 0px;
}
.text-2{
    color: #fff;
    margin-top: 20px;
    font-family: "Work Sans";
    font-size: 24px;
    line-height: 36px;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    word-spacing: 0px;
}

.button-1{
    margin-top: 100px;
    margin-bottom: 20px;
    font-family: "Work Sans";
font-size: 13px;
font-weight: 600;
letter-spacing: 1px;
line-height: 13px;
text-decoration: none solid rgb(0, 0, 0);
text-align: center;
text-transform: uppercase;
word-spacing: 0px;
background-color:  #FFFF00;
background-position: 0% 0%;
height: 45px;
width: 180px;
border: 1px solid  #000000;
padding: 15px 33px 15px 33px;
border-radius: 30px;
}

.button-2{
color: #fff;
font-size: 100px;
font-weight: bolder;
text-decoration: none solid rgb(255, 255, 255);
text-align: center;
word-spacing: 0px;
height: 100px;
width: 100px;
text-align: center;
vertical-align: bottom;
display: inline-block;
}

.section-2{
    text-align: center;
    background-position: center;
    background-size: contain;
    height: 80%;
    background-color: #fff;
}

.line-1{
    font-family: Quicksand;
font-size: 20px;
font-weight: bold;
line-height: 20px;
text-decoration: none solid rgb(25, 25, 25);
text-align: center;
word-spacing: 0px;
}

.line-2{
    margin-top: 35px;
    font-family: Arial, sans-serif;
font-size: 78px;
font-weight: 500;
line-height: 78px;
text-decoration: none solid rgb(25, 25, 25);
text-align: center;
word-spacing: 0px;
}

.line-3{
    margin-top: 10px;
    font-family: "Cousine", sans-serif;
font-size: 31px;
font-weight: 500;
line-height: 31px;
text-decoration: none solid rgb(25, 25, 25);
text-align: center;
word-spacing: 0px;
}

.line-4{
    margin-top: 50px;
    color: #595959;
    font-family: "Work Sans";
font-size: 14px;
line-height: 14px;
text-decoration: none solid rgb(89, 89, 89);
text-align: center;
word-spacing: 0px;
}

.button-3{
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: "Work Sans";
font-size: 13px;
font-weight: 600;
letter-spacing: 1px;
line-height: 13px;
text-decoration: none solid rgb(0, 0, 0);
text-align: center;
text-transform: uppercase;
word-spacing: 0px;
background-color:  #FFFF00;
background-position: 0% 0%;
height: 45px;
width: 180px;
border: 1px solid  #000000;
padding: 15px 33px 15px 33px;
border-radius: 30px;

}