h2{
    color: white;
    text-align: center;
    margin: 0px;
    padding: 10px;
}
img{
    height: 300px;
    width: auto;
}
.main-container{
    display: flex;
    flex-direction: column;
    width:40%;
    max-width: 300px;
    background-color: rgb(24 26 49);
    color: white;
}
.header{
    background-color: black;
}
.row-container{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    line-height: 1.5;
    font-family: rubik, helvetica, arial, sans-serif;
    font-weight: bold;
}
.row-container-title{
    padding: 10px;
    width: 30%;
}
.row-container-list{
    padding: 10px;
    width: 90%;
}
