.navbar{
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: rgb(168, 212, 227);
    margin: 0px;
    justify-content: space-between;
    align-items: stretch;
    color: rgb(35, 47, 58);
    min-width: 100%;
}
.navbar-title{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 10px;
}
.navbar-list{
    display: flex;
    flex-direction: row;
}
.navbar-elements{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 30px;
}
.navbar-icons{
    display: flex;
    flex-direction: row;
    
}
.nav-icons{
    margin: 16px;
    margin-top: 20px;
    font-size: 32px;
}
.background-1{
    background-image: url("./28158605_online_shopping_2.jpeg")  ;
    background-size: cover;
  display: flex;
  flex-direction: row;
  height: 800px;
  width: 100%;
}
.background-2{
    background-image: url("./2202_w039_n003_110b_p1_110.jpg");
    background-size: cover;
    height: 700px;
    width: 100%;
}
.cards{
    background-color: rgb(210, 228, 245);
    height: 400px;
    width: 300px;
    margin: 100px;
    text-align: center;
}
.cards > img{
    height: 200px;
    width: auto;
    margin: 10px;
}
.product{
    display: flex;
    flex-direction: column;
    height: 180px;
}
.product-price{
    margin-top: auto;
    margin-bottom: 10px;
    font-size: xx-large;
    font-weight: bold;
}
<<<<<<< Updated upstream
=======

.rating{
    margin-top: 10px;
}
>>>>>>> Stashed changes
